.divMissionCard {
  align-items: center;
  border: 1px solid white;
  display: flex;
  flex-flow: column nowrap;
  height: 280px;
  justify-content: space-around;
  margin: 10px;
  width: 280px;
}

p {
  font-weight: 600;
  text-align: center;
}

.divMissionCard:hover {
  align-self: center;
  background-image: url('./background.png');
  margin: 0 50px;
  transform: scale(1.3);
  transition: 0.5s;
}

p:hover {
  color: #ff8906;
}
